@use "../../../../themes/colors.module" as *;
@use "../../../../themes/breakpoints" as *;

.lineIcon {
	background-color: $darkBackground;

	@include breakpoint(small) {
		position: static;
		float: right;
		margin: 5px -16px 0px 0px;
		color: $defaultDarkBlue;
	}
}

.itemContainer {
	@include breakpoint(small) {
		border-right: 3px solid $defaultDarkBlue;
		border-left: none;
	}
}

.logoContainer {
	@include breakpoint(small) {
		float: right;
		padding-right: 5px;
	}
}

.logo {
	@include breakpoint(small) {
		object-position: right center;
	}
}

.subText {
	line-height: 2;
	font-size: 18px;
	text-align: left;
}

.agency {
	@extend .subText;
	margin-right: 5px;
	margin-bottom: 5px;

	@include breakpoint(small) {
		text-align: right;
		padding-top: 70px;
		margin-right: 0px;
		line-height: normal;
	}
}

.title {
	@extend .subText;
	margin-right: 5px;

	@include breakpoint(small) {
		text-align: right;
		margin-right: 0px;
		line-height: normal;
	}
}

.roleLocation {
	@extend .subText;
	padding-top: 10px;
	margin-bottom: -16px;
	color: $brightGrey;

	@include breakpoint(small) {
		text-align: right;
	}
}

.rolePeriod {
	@extend .subText;
	color: $brightGrey;

	@include breakpoint(small) {
		text-align: right;
	}
}
