@use "../../../themes/colors.module" as *;
@use "../../../themes/breakpoints" as *;
.outerContainer {
	display: flex;
	justify-content: center;

	margin-bottom: 70px;
}
.container {
	text-align: center;
	max-width: 850px;
	margin-top: 40px;
	line-height: 1;

	@include breakpoint(medium) {
		margin-top: 20px;
	}

	h1 {
		display: inline;
		margin: 0;
		font: inherit;
	}
}

.titleFont {
	font-size: 80px;
	font-weight: bold;
}

.gradient {
	@extend .defaultDarkBlueGradient;
}

.autoType {
	display: none;
	font-size: 80px;
	font-weight: lighter;

	@media (prefers-reduced-motion: reduce) {
		display: none;
	}

	@include breakpoint(medium) {
		display: block;
	}
}

.backupAutoType {
	display: none;
	line-height: 0.6;
	font-size: 80px;
	font-weight: lighter;

	@media (prefers-reduced-motion: reduce) {
		display: block;
	}
}

.blurb {
	font-size: 18px;
	margin: 45px 0;
	line-height: 1.6;
	color: $dimmerWhite;

	@include breakpoint(medium) {
		margin-top: 75px;
	}
}
